<% if current_user.is_admin?%>
<h3>Send a Invitation </h3> 
  <%= form_for @invite , url: invites_path, :id => "new_user" do |f| %>
   <table>
    <tr>
       <td> <%= f.label :email %>
       <%= f.email_field :email %></td>
       <td><%= f.submit "Invite", :id => "user_submit" %></td>
    </tr>
   </table>
   <% end %>
  <%= link_to 'Back', home_index_path %>
<% end %> 

