<%= form_for @profile do |f| %>

  <% if @profile.errors.any? %>
      <div id="error_explanation">
        <h2>
          <%= pluralize(@profile.errors.count, "error") %> prohibited
          this Registration from being saved:
        </h2>
        <ul>
          <% @profile.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <%= link_to 'Back', home_index_path %>

  <p>
   <%= f.label :image %><br>
    <%= f.file_field :image %>
    <%= image_tag @profile.image.url(:medium) %>
  </p>

  <p>
    <%= f.label :username %><br>
    <%= f.text_field :username %>
  </p>

  <p>
    <%= f.label :mobile %><br>
    <%= f.number_field :mobile %>
  </p>

  <p>
    <%= f.label :dob %><br>
    <%= f.date_field :dob %>
  </p>

  <p>
    <%= f.label :gender %><br />
    <%= f.radio_button :gender, "M", :checked=>true %>male
    <%= f.radio_button :gender, "F" %>female
  </p>

  <p>
    <%= f.label :address %><br>
    <%= f.text_field :address %>
  </p>

  <p>
    <%= f.label :city %><br>
    <%= f.text_field :city %>
  </p>



  <div id="skills">
    <%= f.fields_for :skills, @skill do |task| %>
      <%= render 'skill_fields', :f => task %>
    <% end %>
    <div class="links">
      <%= link_to_add_association 'add skill', f, :skills %>
    </div>
  </div>
<br>
  <div id="educations">
    <%= f.fields_for :educations,@education do |education| %>
      <%= render 'education_fields', :f => education %>
    <% end %>
    <div class="links">
      <%= link_to_add_association 'add education', f, :educations %>
    </div>
  </div>
<br>

  <div id="company">
    <%= f.fields_for :companys,@company do |company| %>
      <%= render 'company_fields', :f => company %>
    <% end %>
    <div class="links">
      <%= link_to_add_association 'add company', f, :companys %>
    </div>
  </div>

<br>

  
  <p>
    <%= f.label :experience %><br>
    <%= f.text_field :experience %>
  </p>


  <p>
    <%= f.submit "Create Profile" %>
  </p>
<% end %>
