<h3> Result</h3>
<% @profiles.each do |profile| %>
<%= link_to (image_tag profile.image.url(:thumb)), profile_path(profile) %>
<%= link_to profile.username, profile_path(profile) %></br>
<% end %>
<%= link_to 'Back', home_index_path %>
