<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome :- <%= @user.email %></h1>
    <p>
      Please  sign up to example.com,
      your username is: <%= @user.email %>.<br>
    </p>
    <p>
      To Sign Up to the site, just follow this link: <%= @url %>.
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>