
<p>
  <%= image_tag profile.image.url(:medium) %>
</p>

<p>
  <strong>User Name:</strong>
  <%= profile.username %>
</p>
 
<p>
  <strong>Molibe No.:</strong>
  <%= profile.mobile %>
</p>
<p>
  <strong>Address.:</strong>
  <%= profile.address %>
</p>
<p>
  <strong>Gender:</strong>
  <%= profile.gender %>
</p>

<p>
  <strong>Company:</strong>
  <%= profile.company_name %>
</p>
<!-- <p>
  <strong>education:</strong>
  <%= profile.education %>
</p> -->

<!-- <p>
  <strong>Experience:</strong>
  <%= profile.experience %>
</p> -->

<!-- <p>
  <strong>Company Name:</strong>
  <%= profile. company_name %>
</p>
 -->
<%#= link_to 'Back', home_index_path %>
