
</br>
<% if current_user.is_admin == true  %>
  <h4> Admin </h4>
  <h3> Search User </h3>
 <%= search_form_for Profile.ransack(params[:q]), url: search_user_path, method: :post do |f| %>
       
    <%= f.search_field :username_or_skill_or_education_or_company_name_or_experience_or_address_cont %>
    <%= f.submit "Search" %>
  <% end %>
<% end %>

   <!-- <h3> Invited User List </h3>
   <% Invite.all.each do |invite| %>
    <%= invite.email%>
   <% end %> -->

   <!-- <table> 
      <h2> All User List </h2>
     <% User.all.each do |user| %>
        <% unless user.email == current_user.email %>
            <tr>
              <td> <%= user.email %></br></td>
            </tr>
          <% end %>
       <% end %>
    </table>
 <% else %>
	<%= current_user.email%>
 -->