<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
<%= form_for @profile , url: show_profile_path, :remote=>true do |f| %>

  <p>
    <%= f.label :user %><br>
    <%= f.select :user_id,User.all.map{|c| [c.email ,c.id]} %>
  </p>
  <p>
   <%= f.label :image %><br>
    <%= f.file_field :image %>
    <%= image_tag @profile.image.url(:medium) if @profile.image.present? %>
  </p>

  <p>
    <%= f.label :username %><br>
    <%= f.text_field :username %>
  </p>

  <p>
    <%= f.label :mobile %><br>
    <%= f.number_field :mobile %>
  </p>

  <p>
    <%= f.label :dob %><br>
    <%= f.date_field :dob %>
  </p>

  <p id = 'gender'>
    <%= f.label :gender %><br />
    <%= f.radio_button :gender, "M", :checked=>true %>male
    <%= f.radio_button :gender, "F" %>female
  </p>

  <p>
    <%= f.label :address %><br>
    <%= f.text_field :address %>
  </p>

  <p>
    <%= f.label :city %><br>
    <%= f.text_field :city %>
  </p>

  
  <p>
    <%= f.label :experience %><br>
    <%= f.text_field :experience %>
  </p>


  <p>
    <%= f.submit "Create Profile" %>
  </p>
<% end %>

	<script >
		$(document).ready(function(){
	    $('#profile_user_id').change(function(){
	      $.get("/user/"+$("#profile_user_id").val()+"/user_profile");
	    })
		});
	</script>