$("#profile_username").val("<%= @profile.username%>");
$("#profile_mobile").val("<%= @profile.mobile%>");
$("#profile_dob").val("<%= @profile.dob%>");
$("#profile_address").val("<%= @profile.address%>");
$("#profile_city").val("<%= @profile.city%>");
$("#profile_experience").val("<%= @profile.experience%>");
$("#profile_image").val("<%= @profile.image%>"); 